 {% load static %}

<style>



  
</style>


<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Gestion Asmae</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        
        

        {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'liste_des_charges' %}">Les Charges</a>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'liste_des_formulaire_charges' %}">Liste Details charges</a>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'liste_des_formulaire_charges_avec_filtre_Date_facture' %}">Liste Details charges Avec Filtre Date Facture</a>
          </li>
          {% endif %}
          
          
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link active shadow rounded" href="{% url 'enregistrer_charge' %}">Enregister une charge</a>
          </li>
          {% endif %}

          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link active shadow rounded" href="{% url 'enregistrer_formulaire_charge' %}">Enregister une charges Complete</a>
          </li>
          {% endif %} 
          
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Chiffre affaire</a>
          <div class="dropdown-menu">
            {% if user.is_superuser %}
            <a class="dropdown-item" href="{% url 'enregistrer_le_chiffre_affaire' %}">Enregister Chiffre Affaire</a>
            <a class="dropdown-item" href="{% url 'liste_des_chiffres_affaires' %}">Lister Chiffres affaires</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
            {% endif %} 
          </div>
        </li>
                   
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'logout'  %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'register_user'  %}"
              >Register</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'login'  %}">Login</a>
          </li>
          {% endif %}

          
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search" hidden>
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" hidden>Search</button>
      </form>
    </div>
  </div>
</nav>

